.pagination {
  display: flex;
  width: 150px;
  justify-content: space-around;
  margin: 50px auto;

  button {
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
  }
}
