.meet-emily__above-the-fold {
  display: flex;
  flex-direction: column;
  width: 1135px;
  margin: 90px auto;
  .strip_main-meet-emily {
    width: 665px;
    height: 507px;
    background-color: rgb(190, 225, 230);
    position: relative;
    .img_main-meet-emily {
      background-image: url(../../assets//images/meet-emily/meet-emily-main/emily_sitting.webp);
      width: 691px;
      height: 480px;
      position: absolute;
      background-size: cover;
      right: -445px;
      top: 250px;
      z-index: -1;
    }
    .strip-info_main-meet-emily {
      width: 407px;
      margin: 15% auto;
      text-align: left;
      h2 {
        font-size: 29px;
        font-weight: 100;
        margin: 20px 0;
        width: 300px;
      }
      p {
        font-size: 18px;
        font-family: "Futura LT Light";
        font-weight: 100;
        line-height: 30px;
        width: 410px;
      }
      .btn_main-meet-emily {
        position: absolute;
        background-color: rgb(237, 250, 61);
        width: 246px;
        height: 72px;
        font-size: 18px;
        outline: none;
        border: none;
        right: 0;
        bottom: 0;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: rgb(24, 41, 61);
          color: white;
        }
      }
    }
  }
  .strip_vision {
    width: 670px;
    height: 389px;
    background-color: rgb(238, 255, 66);
    margin-top: 140px;
    z-index: -2;
    margin-left: 78px;
    .strip-info_vision {
      width: 420px;
      margin: 75px auto;
      text-align: left;
      h2 {
        font-size: 29px;
        font-weight: 400;
        margin-bottom: 20px;
      }
      p {
        font-size: 18px;
        font-family: "Futura LT Light";
        font-weight: 100;
        line-height: 30px;
        width: 410px;
      }
      button {
        display: none;
      }
    }
  }
}
.strip-video-wrapper {
  margin-top: 130px;
  width: 100%;
  height: 712px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .meet-emily__above-the-fold {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    .strip_main-meet-emily {
      width: 100%;
      height: 800px;
      background-color: rgb(190, 225, 230);
      position: relative;
      .img_main-meet-emily {
        background-image: url(../../assets//images/meet-emily/meet-emily-main/emily_sitting.webp);
        width: 100%;
        height: 260px;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        z-index: 0;
      }
      .strip-info_main-meet-emily {
        width: 88%;
        margin: 310px 0;
        padding-left: 30px;
        text-align: left;
        h2 {
          font-size: 29px;
          font-weight: 100;
          margin: 20px 0;
        }
        p {
          width: 100%;
        }
        .btn_main-meet-emily {
          position: absolute;
          width: 220px;
          height: 62px;
          left: 30px;
          bottom: 45px;
        }
      }
    }
    .strip_vision {
      width: 100%;
      height: 440px;
      z-index: 0;
      margin: 0;
      .strip-info_vision {
        width: 85%;
        margin: 55px auto;
        text-align: left;
        h2 {
          margin-bottom: 40px;
        }
        p {
          width: 100%;
        }
        button {
          display: none;
        }
      }
    }
  }
  .strip-video-wrapper {
    margin-top: 0;
    width: 100%;
    height: 230px;
    overflow: hidden;
  }
}
