* {
  box-sizing: border-box;
}
html {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
body,
h1,
h2,
h3,
h4,
h5,
ul,
li,
ol,
p {
  margin: 0;
  padding: 0;
  text-align: center;
}
ul,
li {
  list-style: none;
}
.global-container {
  max-width: 1220px;
  margin: auto;
}
a {
  text-decoration: none;
}
body {
  background-color: blue;
}
