.message-data {
  padding: 5px 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  .message-item {
    max-width: 250px;
    text-align: left;
    display: inline;
    background-color: rgba(49, 63, 124, 0.178);
    padding: 10px 15px;
    border-radius: 7px;
    font-size: 14.3px;
    color: rgb(83, 59, 59);
    font-family: "Futura LT Light";
    letter-spacing: 0.5px;
    word-wrap: break-word;
    margin-bottom: 5px;
  }
  img {
    margin-left: 10px;
    width: 270px;
    border: 1px solid rgba(91, 93, 180, 0.308);
    border-radius: 5px;
  }
}

.reply-data {
  padding: 5px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  .reply-item {
    max-width: 250px;
    text-align: left;
    display: inline;
    background-color: rgba(109, 49, 124, 0.178);
    padding: 10px 15px;
    border-radius: 7px;
    font-size: 14.3px;
    color: rgb(83, 59, 59);
    font-family: "Futura LT Light";
    letter-spacing: 0.5px;
    word-wrap: break-word;
  }
}

.system-data {
  max-width: 200px;
  margin: 0 auto;
  padding-top: 10px;
  .system-item {
    font-family: "Fututra LT Light";
    font-weight: 100;
    opacity: 0.7;
  }
}
