.back-to-top-btn {
  position: fixed;
  transform: rotate(270deg);
  bottom: 120px;
  right: 35px;
  border-radius: 50%;
  outline: none;
  border: 1.5px solid rgb(16, 16, 97);
  width: 60px;
  height: 60px;
  background-color: yellow;
  font-size: 20px;
}
