.free-website__banner {
  position: fixed;
  z-index: 1;
  height: 50px;
  width: 100%;
  background-color: #eff1f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid rgb(160, 19, 142);
  cursor: pointer;

  h5 {
    font-size: 14px;
    color: rgb(37, 60, 87);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }
  .upgrade-site__btn {
    width: 112px;
    height: 40px;
    border-radius: 17px;
    border: 1px solid rgb(160, 19, 142);
    margin-left: 5px;
    color: rgb(160, 19, 142);
    font-weight: 900;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    &:hover {
      background-color: rgb(160, 19, 142);
      color: white;
    }
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 920px) {
}
@media screen and (max-width: 768px) {
  .free-website__banner {
    position: fixed;
    z-index: 1;
    height: 70px;
    width: 100%;
    border-bottom: 10px solid rgb(160, 19, 142);
    h5 {
      font-size: 40px;
      color: rgb(0, 0, 0);
      font-weight: 400;
      font-family: Arial, Helvetica, sans-serif;
      span {
        padding: 0 5px 0 20px;
      }
    }
    .upgrade-site__btn {
      width: 90px;
      height: 70px;
      background-image: url(../../../assets/images/global-imgs/mobile-banner-logo.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-color: transparent;
      margin-left: 50px;
      outline: none;
      border: none;
    }
  }
}
@media screen and (max-width: 575px) {
  .free-website__banner {
    position: fixed;
    z-index: 1;
    height: 50px;
    width: 100%;
    background-color: #eff1f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid rgb(160, 19, 142);
    cursor: pointer;

    h5 {
      font-size: 20px;
      color: rgb(0, 0, 0);
      font-weight: 400;
      font-family: Arial, Helvetica, sans-serif;
      span {
        padding: 0 2px 0 10px;
      }
    }
    .upgrade-site__btn {
      width: 25px;
      height: 25px;
      background-image: url(../../../assets/images/global-imgs/mobile-banner-logo.png);
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: 15px;
      outline: none;
      border: none;
    }
  }
}
