.page_header {
  width: 100%;
  height: 62px;
  h2 {
    font-weight: 100;
  }
  .navigation__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .header__logo {
    display: flex;
    align-items: center;
    padding: 0 40px;
    color: rgb(37, 60, 87);
    font-size: 13px;
    .website-logo-img {
      width: 40px;
      height: 40px;
      margin-right: 15px;
    }
  }
}

@media screen and (max-width: 920px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 575px) {
}
