.page__content {
  background-color: rgb(232, 234, 236);
  height: 228px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    width: 100%;
    font-size: 75px;
    font-weight: 400;
  }
}

@media screen and (max-width: 920px) {
}
@media screen and (max-width: 768px) {
  .page__content {
    height: 150px;
    h1 {
      width: 100%;
      font-size: 45px;
      font-weight: 400;
    }
  }
}
@media screen and (max-width: 575px) {
}
