.website__promo-banner {
  height: 47px;
  width: 100%;
  background-color: #eeff42;
  display: flex;
  justify-content: center;
  align-items: center;
  h5 {
    font-weight: 100;
    font-size: 15px;
    color: rgb(37, 60, 87);
  }
}

@media screen and (max-width: 920px) {
  .website__promo-banner {
    h5 {
      font-weight: 200;
    }
  }
}

@media screen and (max-width: 575px) {
  .website__promo-banner {
    height: 48px;

    h5 {
      font-weight: 200;
      font-size: 16px;
    }
  }
}
