.strip_foxFit {
  .strip_foxFit__wrapper {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 200px;
    position: relative;
    .img_foxFit {
      height: 638px;
      width: 1661px;
      background-image: url(../../assets/images/home-imgs/main/gym.png);
      background-size: cover;
      background-attachment: fixed;
      margin-top: 60px;
      margin-bottom: 200px;
    }
    .strip-info_foxFit {
      background-color: rgb(190, 225, 230);
      width: 776px;
      height: 511px;
      text-align: left;
      padding: 75px 125px;
      position: absolute;
      transform: translate(-133%, 65%);
      h2 {
        font-size: 65px;
        font-weight: 100;
        font-family: "Futura LT Book";
      }
      h3 {
        width: 405px;
        font-size: 29px;
        font-weight: 100;
        line-height: 38px;
        margin-top: 10px;
        font-family: "Futura LT Book";
        width: 400px;
      }
      p {
        width: 500px;
        margin-top: 30px;
        font-family: "Futura LT Light";
        font-weight: 100;
        font-size: 18px;
        line-height: 27px;
      }
      button {
        width: 246px;
        height: 72px;
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: rgb(238, 255, 66);
        color: white;
        font-size: 18px;
        font-family: "Futura LT Book";
        border: none;
        color: rgb(37, 60, 87);
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          background-color: rgb(37, 60, 87);
          color: white;
        }
      }
    }
  }
}
